body, html {
    background-color:  #222;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    color: #ccc;
}
h1 {
  letter-spacing: -3px;
  font-weight: bold;
  margin: 0;
}
li {
  font-size: 15px;
}

.header {
    padding: 5px;
    background-color: #000000;
}
.title {
    color: #ccc;
}
.font{
    letter-spacing: 1px; 
    font-weight: bold; 
    margin: 0;
    color: orange;
}
.messageArea {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.msgBox {
    left: 30px;
    top: 30px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 130px yellow;
    -webkit-border-radius: 10px;
    z-index: 200;
    border: 4px solid white;
}
.contentArea {
    margin: 5px;
}
.docTitle {
    font-weight: bold;
    font-size: 25px;
    color: yellow;
}
.content {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}
.ui-back {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    float: right; 
    margin-right: 20px;
    color: red;
}
.tutorials_box {
    float: left;
    margin: 0 10px;
}
