body, html {
    /*background-color: #222;*/
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    color: #ccc;
}
h1 {
  font-weight: bold;
  margin: 0;
}
li {
  font-size: 15px;
}

.header {
    padding: 5px;
    background-color: #000000;
    -webkit-border-radius: 10px;
}
.body {
    background-color: rgb(57, 57, 57);
    background-position: center;
    background-repeat: no-repeat; 
}
.title {
    color: #ccc;
}
.font{
    letter-spacing: 1px; 
    font-weight: bold; 
    margin: 0;
    color: orange;
}

.tutorials_box {
    float: left;
    margin: 10px 0 0 20px;
    -webkit-box-shadow: 1px 1px 25px white;
    background-color: rgba(100, 100, 100, 0.3);
    min-width: 280px;
    height: 500px;
    padding: 0 30px 0 10px;
    -webkit-border-radius: 20px;
    overflow: auto;
}
.tutorialMainTitle {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.tutorialBody {
    margin: 0 auto; 
    width: 800px;
}
.tutorialTitle {
    margin: 20px 0 5px 0;
    font-size: 15px;
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid black; 
    font-size: 14px;
}